    {% extends "inicio/encabezado.html" %}

    {% block titulo%} PRINCIPAL {%endblock%}
    {% block nombre%} Principal {%endblock%}

    {% block imagen%}
        {%load static%}
    {%static 'inicio/images/home.png'%}
    {%endblock%}


    {%block barra%}<div class="page-header">
        <div class="page-header">
        <div class="page-title">
            <h3>Alumnos
            <small>Lista de Alumnos </small></h3>
        </div>

    </div>  {%endblock%}
    {% block contenido%}

        
    {%endblock%}



